@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 style="margin-bottom: 2.5rem"  class="display-4">Welcome To Cambrian College</h1>
</div>
 <section>
        <img class = "p-img" src="https://www.myespanolanow.com/wp-content/uploads/2021/08/CAMBRIAN-COLLEGE.jpg" alt="Cambrian College">
        <p   style="    margin-right: 20px"> 
            Since 1967, Cambrian College has been the leading post-secondary institution in Northern Ontario.
            Our College has a vibrant community of more than 11 000 learners, with over 4100 students in 80 full-time programs, and over 7000 students in almost 900 part-time courses and programs across three campus locations in northern Ontario: Sudbury, Espanola, and Little Current / Manitoulin Island.
            Discover the range of services and facilities we offer to support students and prepare them for success in today's competitive work places.
            Explore everything we have to offer and see Cambrian for yourself.
        </p>
    </section>
